@model Client_Web_MVC.Models.UserForCRUD

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete User</h2>
<hr />

@using (Html.BeginForm("Delete", "Account", FormMethod.Post, new { id = "deleteUserForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RolesNames, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.RolesNames, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="button" value="Delete" class="btn btn-danger" onclick="validateInput()" />&nbsp;&nbsp;<text>|</text>&nbsp;&nbsp;
                @Html.ActionLink("Back to list", "Index", null, new { @style = "font-size: x-large;" })
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
        function validateInput() {

                swal({
                    title: "Delete User?",
                    text: "Are you sure that you want to delete this User?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((willDelete) => {
                    if (willDelete) {

                        $("#deleteUserForm").submit();
                    }
                });

            }

    </script>
    
}
