@model Client_Web_MVC.Models.ViewModels.Products_PhotosViewModel
@using Client_Web_MVC.Models
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Products List";
    Layout = "~/Views/Shared/_DienMayLayout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="row text-center">
                    Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
                    <input type="submit" value="Find" />
                </div>
            </div>            
        }

        <div class="row products">
            <form id="frmChonMua" method="post">
                @Html.AntiForgeryToken()
            </form>

            @foreach (var item in Model.Products)
            {
                Photo photo_01 = Model.Photos.Where(i => i.ProductId == item.Id && i.IsMain == true).FirstOrDefault();
                Photo photo_02 = null;

                if (photo_01 == null)
                {
                    photo_01 = new Photo();
                    photo_01.ProductId = item.Id;
                    photo_01.PictureUrl = ViewBag.Url_Img_PlaceHolder;
                }
                else
                {
                    photo_02 = Model.Photos.Where(i => i.ProductId == item.Id && i.Id != photo_01.Id).FirstOrDefault();
                }
                
                if (photo_02 == null)
                {
                    photo_02 = new Photo();
                    photo_02.ProductId = item.Id;
                    photo_02.PictureUrl = ViewBag.Url_Img_PlaceHolder;
                }

                <div class="col-md-3 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="@Url.Action("Details", "Products", new { id = item.Id })">
                                        <img src="@photo_01.PictureUrl" alt="" style="height: 178px;" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("Details", "Products", new { id = item.Id })">
                                        <img src="@photo_02.PictureUrl" alt="" style="height: 178px;" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("Details", "Products", new { id = item.Id })" class="invisible">
                            <img src="@photo_01.PictureUrl" alt="" style="height: 178px;" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>
                                @Html.ActionLink(item.Name, "Details", "Products", new { id = item.Id }, htmlAttributes: new { @target = "_blank" })
                            </h3>
                            <p class="price">@item.Price.ToString("$#,##0.00")</p>
                            <p class="buttons">
                                @Html.ActionLink("Details", "Details", "Products", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })

                                <button type="submit" class="btn btn-primary"
                                        form="frmChonMua"
                                        formaction="@Url.Action("Them", "GioHang", new { sanPhamID = item.Id })">
                                    <i class="fa fa-shopping-cart"></i> Add to cart
                                </button>
                            </p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.col-md-3 -->
            }
        </div>
        <!-- /.products -->

        <div class="row text-center">
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
        </div>
    </div>
    <!-- /.col-md-12 -->    
</div>
<!-- /.container -->
